.education-container {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 900px;  
  max-height: 50dvh;
  overflow-y: scroll;
  background-color: #f9f9f9;  
  border-radius: 10px; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
}

.education-container h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #333;  
  margin-bottom: 1rem;
  text-transform: uppercase; 
  line-height: 1.4; 
}

.education-container p {
  font-size: 1rem;
  color: #555; 
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.6; 
}

.education-container p span {
  font-weight: 600;
  color: #CE585A; 
}


@media (max-width: 600px) {
  .education-container h3 {
    font-size: 1rem;  
  }

  .education-container div p span {
    font-size: 0.8rem;  
  }

  .education-container p {
    font-size: 0.8rem;
  }
}
